<%- include('partials/header') %>

<h1>Welcome!</h1>
<p>
  <%=homeContent %>
</p>

<% postsLog.forEach( (i)=>{ %>
  <h1>
    <%=i.title %>
  </h1>
  <p>
    <%=i.content %>
  </p>
<% }); %>

<%- include('partials/footer') %>